<link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://raw.githubusercontent.com/develoser/develoser.github.io/master/favicon.ico" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://raw.githubusercontent.com/develoser/develoser.github.io/master/favicon.ico" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://raw.githubusercontent.com/develoser/develoser.github.io/master/favicon.ico" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://raw.githubusercontent.com/develoser/develoser.github.io/master/favicon.ico" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="https://raw.githubusercontent.com/develoser/develoser.github.io/master/favicon.ico" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://raw.githubusercontent.com/develoser/develoser.github.io/master/favicon.ico" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="https://raw.githubusercontent.com/develoser/develoser.github.io/master/favicon.ico" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://raw.githubusercontent.com/develoser/develoser.github.io/master/favicon.ico" />
<link rel="icon" href="https://raw.githubusercontent.com/develoser/develoser.github.io/master/favicon.ico" sizes="196x196" />
<link rel="icon" href="https://raw.githubusercontent.com/develoser/develoser.github.io/master/favicon.ico" sizes="96x96" />
<link rel="icon" href="https://raw.githubusercontent.com/develoser/develoser.github.io/master/favicon.ico" sizes="32x32" />
<link rel="icon" href="https://raw.githubusercontent.com/develoser/develoser.github.io/master/favicon.ico" sizes="16x16" />
<link rel="icon" href="https://raw.githubusercontent.com/develoser/develoser.github.io/master/favicon.ico" sizes="128x128" />